@model DogsMvc.Models.Dog

<!DOCTYPE html>
<html>
<head>
    <title>Add Dog</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Add a Dog</h1>
    <form asp-controller="Dogs" action="/Dogs/AddDog" method="post">
        <div>
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" />
        </div>
        <div>
            <label for="Age">Age:</label>
            <input type="number" id="Age" name="Age" />
        </div>
        <button href="Index" type="submit">Add Dog</button>
    </form>
</body>
</html>
